* {
    font-family: cursive;
    font-size: 12pt;
}
fieldset {
    display: grid;
    grid-template-columns: 1fr;
}
input:invalid {
    text-decoration: underline red;
}
input:valid {
    border: solid green;
}

input:focus, select:focus {
    box-shadow: rgb(226, 87, 191) 2px 2px 20px;

}

input:required+label::after,
select:required+label::after,
textarea:required+label::after {
    content: '*';
    color: red;
}

select:valid {
    border: solid green;
}

select:invalid {
    border: dotted red;
}

#dob:invalid {
    border: dotted red;
}

legend {
    text-align: center;
    font-size: 2.8em;
    font-weight: 900;
    text-shadow: rgb(151, 149, 149) 4px 4px 10px;
    max-width: 98%;
}

form {
    width: 70%;
    flex-direction: column;
    border: solid rgb(151, 149, 149);
    margin-left: 15%;
    border-radius: 10px;
    box-shadow: rgb(151, 149, 149) 10px 10px 100px;
}

h2 {
    display: none;
}

#submit {
    width: fit-content;
    padding: 5px;
    font-size: 20pt;
}

label {
    padding: 10px;
    margin: 0 10% 0 10%;
    order: 1;
}
input {
    order: 2;
    margin: 0 10% 0 10%;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    box-shadow: rgb(151, 149, 149) 2px 2px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26pt;
}
span {
    order: 3;
}
.error {
    font-size: 80%;
    color: white;
    background-color: red;
    border-radius:5px;
    text-align: center;
    max-width: 60%;
    box-shadow: rgb(151, 149, 149) 2px 2px 10px;
    margin-left: 20%;
}
.error.active {
    padding: 0.3em;
}
#agreeDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5% 5% 5% 5%;
    width: 90%;
}
#agree {
    margin-top: 1.5%;
    width: 30px;
    height: 30px;
    margin-left: 0;
}
section {
    display: grid;
    
}
#fName {
    background-image: url(/images/icons8-id-60.png);
    background-position: 98%;
    background-repeat: no-repeat;   
}
#lName {
    background-image: url(/images/icons8-id-60.png);
    background-position: 98%;
    background-repeat: no-repeat;
}
#phone  {
    background-image: url(/images/phone.svg);
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: contain;
}
#email {
    background-image: url(/images/email.svg);
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: contain;
}
#dob {
    background-image: url(/images/Calendar-icon.png);
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: contain;
}

#pic {
    background-image: url(/images/icons8-picture.svg);
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    margin-left: 33.5%;
    font-size: 15pt;
}
select {
    text-align: center;
    margin: 0 10px 0 25%;
    max-width: 50%;
    padding: 10px;
    box-shadow: rgb(151, 149, 149) 2px 2px 20px;
    order: 2;
}
img {
    max-width: 400px;
    padding-left: 35%;
}
#photoError {
    margin-left: 33.6%;
    width: 330px;
}

#formTitle {
    flex-direction: row;
    justify-content: space-evenly;
}
#logo {
    padding-left: 25%;
    max-width: 50%;
}
#subId {
    padding-left: 20%;
    padding-top: 5%;
}
#subError {
    max-width: 40%;
    margin-left: 30%;
}
#agreeLabel {
    max-width: 90%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.showPassBtn {
    position: relative;
    bottom: -210%;
    right: -85%;
    width: 50px;
    padding-left: 0;
}
.showPassBtn2 {
    position: relative;
    right: -85%;
    bottom: -210%;
    padding-left: 0;
    width: 50px;
}

a {
    font-size: 24pt;
    font-weight: 900;
    order: 3;
}

video {
    display: none;
    width: 15%;
    position: fixed;
    bottom: 10%;
    right: 20%;

}

a:hover + video, video:hover {
    display: block;
}

.hoverText {
    display: none;
    width: fit-content;
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    right: 40%;
    bottom: -40%;
}

.submit:hover + .hoverText {
    display: block;
}

@media (max-width: 400px) {
    form {
        width: 100%;
        margin: 0;
    }
    input {
        margin: 0;
        width: 95%;
        text-align: left;
        padding-left: 0;
    }
    legend {
        font-size: 1em;
    }
    #pic {
        display: none;
    }
    label {
        display: none;
    }
    a {
        text-align: center;
    }
    #agreeDiv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5% 5% 5% 5%;
        width: 90%;
    }
    select {
        max-width: 100%;
        margin: 0;
        margin-bottom: 5%;
    }
    #photoError {
        display: none;
    }
    section {
        margin-bottom: 5%;
    }
    html {
        width: 100%;
    }
    body {
        width: 100%;
        max-height: 1000px;
        margin: 0;
    }
    fieldset {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .showPassBtn {
        position: relative;
        bottom: -125%;
        right: -85%;
        width: 50px;
        padding-left: 0;
    }
    .showPassBtn2 {
        position: relative;
        right: -85%;
        bottom: -135%;
        padding-left: 0;
        width: 50px;
    }
    .hoverText {
        right: 8%;
        bottom: -44%;
    }
    video {
        width: 30%;
        bottom: 5%;
        right: 5%;
    }
}